#outlet {
  margin: 70px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}